@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home ul li {
    width: 14px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
}

.heading {
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 75vh;
    position: relative;
}

.footer {
    display: flex;
    color: grey;
    font-size: 10px;
    gap: 12px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.right {
    margin: 16px 0;
}

.spotify-playlist {
    padding: 16px;
}
.spotify-playlist h1 {
    padding: 16px;
}

.cardcontainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    max-height: 54vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}
.card:hover{
    background-color:rgb(90, 88, 88);
    cursor: pointer;
    --a:1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 16px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.signup {
    background-color: rgb(34, 34, 34);
    color: rgb(122, 122, 122);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.signup:hover {
    font-size: 17px;
    color: white;
}

.login {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.login:hover {
    font-weight: bold;
    width: 80px;
    font-size: 17px;
}

.right{
    position:relative;
}
.playbar{
    position: fixed;
    bottom:30px;
    width:98%;
    padding:12px;
    background-color: #dad5da;
    width:70vw;
    filter: invert(1);
    border-radius: 20px;
    min-height: 39px;
}

.songsbtns{
    display: flex;
    justify-content: center;
    gap:16px;
}

.songlist ul{
    padding:0 12px;
}
.songlist ul li{
   list-style-type: decimal;
   display: flex;
   justify-content: space-between;
   gap: 16px;
   cursor:pointer;
   padding:12px 0;
   border:1px solid white;
   border-radius: 5px;
   margin:10px;
   padding:13px;
}
.songlist .info{
    width:344px;
     font-size: 13px;
}
.info div{
    word-break: break-all;
}
.songlist{
    height: 444px;
    overflow: auto;
    margin-bottom:44px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 13px;
    width: 64px;
    padding:12px;
}

.seekbar{
    height: 4px;
    width:97%;
    background-color:  black;
    position:absolute;
    bottom:0;
    border-radius: 10px;
    margin:6px;
    cursor:pointer;
}

.hamburger{
    display: none;
}
.hamburgercontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:14px;
}

.circle{
    height: 13px;
    width: 13px;
     background-color: black;
     border-radius: 20px;
     position:relative;
     bottom:6px;
     left:0%;
     transition:left 0.5s;
}

.songsbtns img{
    cursor: pointer;
}
.songinfo {
    color:black;
    padding:0 12px;
    width:250px;
}
.songtime{
    width:125px;
    color:black;
    padding:0 12px;
}
.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:12px;
}
.abovebar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.close{
    display: none;
}
.songlist li.active {
  background: #1db954;
  color: black;
}
.navbar{
    position: static;
}
.cardcontainer{
    position:static;
}

@media (max-width:1200px) {
    *{
        margin: -1px;
    }
    .body{
        background-color: black;
    }
    .left{
        position: absolute;
        left:-120%;
        transition: all .3s;
        z-index: 1;
        width:350px;
        background-color: black;
        padding: 0;
    }
    .right{
        width:100vw;
        height: 270vw;
    }
    .playbar{
        width: calc(100vw - 48px);
        bottom:45px;
    }
    .seekbar{
         width: calc(100vw - 60px);
    }
    
    .hamburger{
        display: block;
    }
    .left .close{
        position:absolute;
        right:31px;
        top:25px;
        width: 40px;
    }
    .right{
        margin: 0;
    }
    .close{
        display: block;
    }
    .songinfo, .songtime{
        width:auto;
    }
    .card{
        width:44vw;
    }
    .cardcontainer{
        margin:0;
        justify-content: center;
    }
    .cardcontainer {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin: 7px;
        overflow-y: auto;
        max-height: 70vh;
    }
    

    .abovebar{
        flex-direction: column;
        gap:20px;
        align-items: center;
    }
    .timevol{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap:13px;
    }
    .card{
        width:75vw;
    }
    .buttons{
    display: flex;
    align-items: center;
}
}

/* @media(max-width:300){
     *{
        margin:-1px;
    }
    .card{
        width:84vw;
    }
   
} */
@media(max-width:200){
     *{
        margin:-1px;
    }
    .buttons{
    display: flex;
    align-items: center;
}
}